
.scrollBar::-webkit-scrollbar {
    display: none;
}


.scrollBar {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}
.fullHeight{
  height: 92.5vh !important;
}

.chatScroll::-webkit-scrollbar {
  width: 5px;
}
.chatScroll {
  scrollbar-width: thin;
  scrollbar-color: #90A4AE ;
}
.chatScroll::-webkit-scrollbar-track {
  background: transparent;
}
.chatScroll::-webkit-scrollbar-thumb {
  background-color: #90A4AE ;
  border-radius: 10px;
  /* border: 3px solid #CFD8DC; */
}